* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}
body{
    background-color: white;
    margin: 0;
    color: azure;
    min-height: 100vh;
    max-height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    background-color: rgb(37, 199, 145);
    padding: 2rem;
    border: 0.1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.domain_container{
    display: flex;
    position: relative;
    padding: 6px;
    margin: 10px 5px 7px 7px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: azure;
    width: 110%;
}
.domain_container input.domain_display{
    background-color: azure; 
    width: 100%;
    padding: 2px;
    font-size: 16px;
    border: none;
    outline: none;
    text-align: center;
}
.password_container{
    display: flex;
    position: relative;
    padding: 6px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: azure;
    width: 110%;
}
.password_container input.password_display{
    background-color: azure;
    width: 100%;
    padding: 2px;
    font-size: 16px;
    border: none;
    outline: none;
    text-align: center;
}
.password_container button{
    padding: 2px;
    background-color: #5784f5;
    color: #ffffff;
    font-size: 2px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
.password_container button:active{
    background: #809ce2;
}
.password_container button::before{
    content: "Copied";
    position: absolute;
    top: -25px;
    right: 0px;
    background: #5c81dc;
    border-radius: 3px;
    font-size: 15px;
    padding: 3px;
    display: none;
}
.password_container button::after{
    content: "";
    position: absolute;
    background: #5c81dc;
    transform: rotate(45deg);
    top: -8px;
    right: 21px;
    width: 8px;
    height: 10px;
    display: none;
}
.password_container:active button::after,
.password_container:active button::before{
    display: block;
}
.form{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1rem;
    column-gap: .5rem;
    justify-content: center;
    align-items: center;
}
.title{
    margin: 0;
    text-align: center;
}
label{
    font-weight: bold;
    font-size: 14px;
}
.slider{
    display: flex;
    align-items: center;
}
.number_label{
    width: 2.3rem;
}
.bttn{
    grid-column: span 2;
    column-count: 2;
    background-color: rgb(31, 155, 116);
    border: 2px solid white;
    color: white;
    padding: 8px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 1rem;
}
.bttn:hover{
    background-color: #FFFFFF33;
}